<nb-card>
  <nb-card-header>
    {{title}}
  </nb-card-header>
  <nb-card-body>
    <div *ngFor="let field of fields">
      <div class="output" *ngIf="!field.isAnalog">
          <div *ngIf="!field.isAnalog" [ngClass]="{'on': field.value, 'off': !field.value}">
          <div *ngIf="field.value" class="icon ion-checkmark">
          </div>
          <div *ngIf="!field.value" class="icon ion-close-round">
          </div>
        </div>
        <div *ngIf="!field.isAnalog" class="info">
          {{field.name}}
        </div>
        <div *ngIf="!field.readOnly && !field.isAnalog" class="actions">
          <button *ngIf="!field.isAnalog" class="btn btn-hero-primary btn-tn" (click)="sendValue(field, true)">Set On</button>
          <button *ngIf="!field.isAnalog" class="btn btn-hero-primary btn-tn" (click)="sendValue(field, false)">Set Off</button>
        </div>
      </div>

      <ngx-analogtext *ngIf="field.isAnalog" [name]="field.name" [isReadOnly]="field.readOnly" [placeholder]="field.value" (setvalue)="sendValue(field, $event)">{{field.value}}</ngx-analogtext>
      
    </div>

  </nb-card-body>
</nb-card>