<nb-card>
  <nb-card-header>
    {{title}}
  </nb-card-header>
  <nb-card-body>
    <div  echarts [options]="options" [merge]="updateOptions" class="echart"></div>
    <div class="form-group">
      <ngx-digitalfield [state]="status.on" (emitter)="onSet({'on': $event})">On</ngx-digitalfield>
      <ngx-digitalfield [state]="status.controlling" (emitter)="onSet({'controlling': $event})">PID Controlling</ngx-digitalfield>
      <ngx-analogtext [name]="'Target Temperature'" [isReadOnly]="false" (setvalue)="onSet({'targetTemperature': $event})" [placeholder]="status.targetTemperature">{{status.targetTemperature}}</ngx-analogtext>
      <ngx-analogtext [name]="'Current Temperature'" [isReadOnly]="true" [placeholder]="status.currentTemperature">{{status.currentTemperature}}</ngx-analogtext>
      <ngx-analogtext [name]="'Current Power'" [isReadOnly]="true" [placeholder]="status.power">{{status.power}}</ngx-analogtext>
      <button class="btn btn-primary" (click)="showPidDialog()">PID Settings</button>
    </div>
  </nb-card-body>


</nb-card>


<template #refVar>
  <p>
    TEst
  </p>
  <ngx-pidvaluesdialog [heaterStatus]="status">{{title}}</ngx-pidvaluesdialog>
</template>