
<div class="output row">
  <div id="output" class="col-sm-9 text-field input-group">
    <span class="analog-value input-group-text success" [ngClass]="{'input-group-addon': !isReadOnly, 'form-control': isReadOnly}">
      <ng-content></ng-content>
    </span>
    <input [(ngModel)]="value" type="text" *ngIf="!isReadOnly" class="form-control" placeholder="{{placeholder}}">
    <span class="input-group-append">
      <button *ngIf="!isReadOnly" class="btn btn-hero-success input-group-text" (click)="emitNewValue(); value = ''">
        Set
      </button>
    </span>
  </div>
  <label for="output" class="col-sm-3 col-form-label">{{name}}</label>
</div>